* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

body {
  font-family: "Noto Sans", sans-serif;
}

.button {
  display: inline-block;

  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: inherit;

  background-color: #3a71d1;
  padding: 25px 60px;

  border: none;

  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}


/*************** HEADER ***************/
.header {
  min-height: 100vh;
}
.header-image {
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background-color: rgba(41, 45, 51, 0.6);
}
.navbar {
  display: flex;
  align-items: center; 

  color: #fff;
  height: 94px;

  position: relative;

  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
}
.header-logo {
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  flex-basis: 100%;

  display: flex;
  list-style: none;

  padding: 0 50px;
  margin: 0;
}
.header-nav-link {
  font-size: 16px;
  text-decoration: none;
  margin-right: 50px;
  color: inherit;
}
.header-phone {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  margin-right: 50px;
}
.header-phone-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}
.navbar-button {
  height: 100%;

  flex-shrink: 0;
}


/*************** HEADER-CONTENT ***************/
.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.seporator {
  width: 150px;
  height: 2px;
  background: #5C8EE5;
}
.header-title {
  max-width: 1080px;

  font-family: 'Bebas Neue';

  font-size: 80px;
  line-height: 120%;

  margin: 30px 0;
}
.header-text {
  max-width: 720px;

  font-size: 16px;
  font-weight: 400;
  line-height: 160%;

  margin-bottom: 50px;
}


/*************** HEADER-FEATURES ***************/
.header-features {
  min-height: 168px;

  display: flex;

  padding: 0;
  margin-top: 100px;

  list-style: none;
  color: #fff;

  position: relative;
}
.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.header-features-icon {
}
.header-features-text {
  font-size: 16px;
  line-height: 160%;
}
