* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}



/*************** HEADER ***************/
.header {
}
.navbar {
  display: flex;
  align-items: center; 

  color: #fff;
  background-color: #4e4c4c;

  height: 94px;
}
.header-logo {
  padding: 25px 50px;
}
.logo-light {
}
.header-nav {
  flex-basis: 100%;

  display: flex;
  list-style: none;

  padding: 0 50px;
  margin: 0;
}
.header-nav-item {
}
.header-nav-link {
  font-size: 16px;
  text-decoration: none;
  margin-right: 50px;
  color: inherit;
}
.header-phone {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  margin-right: 50px;
}
.header-phone-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}
.header-button {
  height: 100%;
}
.button {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: inherit;

  background-color: #3a71d1;
  padding: 25px 60px;

  border: none;
}
